*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

section{
    height: 100vh;
    background: blueviolet;
}

section:nth-child(even){
    background: red;

}

#back-to-top {
    width: 80px;
    height: 80px;
    background: #656565;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
}